<h1>Your Account Page</h1>
<% if current_user.candidates.empty? %>
  <h3>No candidates yet.</h3>
<% else %>
  <h3>View All Candidates Here</h3>

  <% @candidates.each do |candidate| %>
    <li><%= link_to candidate.name, candidate_path(candidate) %> (<%= candidate.year %> <%= candidate.office %> Race)
    <%= link_to "Unfollow", candidate_path(candidate), method: "delete", class: "btn btn-default gray-btn" %></li>
  <% end %> 
<% end %>
