  <div class='example'>
    <div class="title">
      <h2>Start Exploring Campaign Finance in WA State<br><small>Search for Statewide, Legislative, or Judicial candidates.</small></h2>
    </div>
    <h4><span id="found" class="label label-default"></span></h4>
    <table id="stream_table" class='table table-striped table-bordered table-condensed'>
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Office</th>
          <th>Party</th>
          <th>Dist</th>
          <th data-sort="raised:desc">Raised</th>
          <th data-sort="spent:desc">Spent</th>
          <th data-sort="year:desc">Year</th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
    <div id="summary"><div>
  </div>
</div>

<script id="template" type="text/html">
  <tr>
    <td>{{index}}</td>
    <td id="name">
        <a href="/candidates/{{record.id}}">{{record.name}}</a>
    </td>
    <td>{{record.office}}</td>
    <td>{{record.party}}</td>
    <td>{{record.dist}}</td>
    <td><%= number_to_currency("{{record.raised}}") %></td>
    <td><%= number_to_currency("{{record.spent}}") %></td>
    <td>{{record.year}}</td>
  </tr>
</script>