<div class="col-md-10 col-md-offset-1">
  <h2>About Lights on WA</h2>

  <p><strong>Lights on Washington</strong> is a tool for discovering political contributions in the state of Washington.</p>

  <p>The data comes from the <%= link_to "Public Disclosure Commission of Washington", "www.pdc.wa.gov" %>, which has been collecting this data on paper since 1972 and electronically since 2000. I built Lights on WA to give citizens better access to searching Statewide, Legislative, and Judicial candidates in this database.  </p>

  <h3>What kind of candidates can I search for here?</h3>
  <p></p>

  <h3>What can I do on this site?</h3>
  <p>You can search for candidates, save and compare candidates over election periods, and view visualizations of candidate campaign contribution data.</p>


  <h3>How is campaign finance disclosed?</h3>
  <p></p>

  <h3>Data quality</h3>
  <p></p>

  <h3>More resources</h3>
  <p></p>

  <ul>
    <li><a href=""></a> </li>
  </ul>

  <h3>Data download</h3>

  <p>Want to download the raw data powering this website?</p>

  <p>We get <strong>daily updates</strong> directly from the <%= link_to "Public Disclosure Commission of Washington", "www.pdc.wa.gov" %> and make everything open and availabe for download in a handy zip file:</p>

  <h3>API</h3>


  <h3>Code</h3>

  <p>All the code for this site is open source on <%= link_to "Github", "https://github.com/loganmeetsworld/lights_on_wa" %>. It was built with:</p>

  <ul>
    <li><a href="http://www.http://rubyonrails.org/">Rails</a> - ruby web framework</li>
    <li><a href="http://www.mysql.org/">MySQL</a> - database</li>
    <li><a href="http://aws.amazon.com/">Amazon Web Services</a> - servers and file storage</li>
    <li><a href="http://getbootstrap.com">Bootstrap</a> - HTML and CSS scaffolding</li>
    <li><a href="https://github.com/jiren/StreamTable.js">StreamTables.js</a> - searchable and sortable HTML tables</li>
    <li><a href="https://d3js.org/">D3</a> - JavaScript library for data visualizations</li>
  </ul>

  <h3>Credit</h3>

  <p>This is a project written and maintained by <%= link_to "Logan McDonald", "www.github.com/loganmeetsworld" %>.</p>

  <h3>Contact me</h3>

  <p>Found a bug? Report it on my <a href="https://github.com/loganmeetsworld/lights_on_wa">issue tracker</a>.</p>

  <p>Have a suggestion? <a href="mailto:loganmcdona11@gmail.com">Contact me</a>.</p>
</div>