<div class="container">
  <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
          <h1>Lights on Washington</h1>
        <div class="input-group stylish-input-group">
            <input type="text" class="form-control"  placeholder="Search" >
            <span class="input-group-addon">
                <button type="submit">
                    <%= fa_icon "search" %>
                </button>  
            </span>
        </div>
      </div>
  </div>
</div>