<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>LIGHTS <%= fa_icon "lightbulb-o" %>N WASHINGTON</h1>
    <h3>Explore Campaign Finance in Washington State</h3>
    <br>
    <a href="#about" class="btn btn-dark btn-lg">Info</a> <a href="#search-candidates" class="btn btn-dark btn-lg"> Search</a>
  </div>
</header>

<section id="about" class="about">
  <%= render partial: "welcome/about" %>
</section>

<%= render partial: "shared/candidate_table" %>
