<header id="top" class="header">
  <div class="text-vertical-center">
    <h1>LIGHTS <%= fa_icon "lightbulb-o" %>N WASHINGTON</h1>
    <h3>Explore Campaign Finance in Washington State</h3>
    <br>
    <a href="#search-candidates" class="btn btn-dark btn-lg"> Search Candidates</a>
  </div>
</header>

<%= render partial: "shared/candidate_table" %>
