@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|News+Gothic|Fira+Sans|Inconsolata|Droid+Sans|Roboto|Cabin|Open+Sans|Raleway|Poiret+One|Lato');
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#summary {
  padding-bottom: 20px;
}

.text-vertical-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.text-vertical-center h1 {
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Custom Button Styles */

.btn-dark {
  border-radius: 0;
  color: #fff;
  background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
  color: #fff;
  background-color: rgba(0,0,0,0.7);
}

.btn-light {
  border-radius: 0;
  color: #333;
  background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
  color: #333;
  background-color: rgba(255,255,255,0.8);
}

/* Custom Horizontal Rule */

hr.small {
  max-width: 100px;
}


.header {
  font-family: Cabin, sans-serif;
  color: #FFD144;
  display: table;
  position: relative;
  width: 100%;
  height: 100%;
  background: asset_url('washington.jpeg') no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.about {
  padding: 50px 0;
}

#brand {
  font-size: 20px;
}

.navbar-default .navbar-nav > li > a {
  color: #000;
}

#found {
  margin-bottom: 20px;
}

#st_search {
  margin-bottom: 20px;
  font-size: 14px;
}

li#login {
  padding-right: 18px;
}

li#login:active {
 outline: none !important;
}

.st_per_page {
  margin-bottom: 20px;
}

.fa-lightbulb-o {
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
}

path {
  stroke: #fff;
  fill-rule: evenodd;
}

text {
  font-family: Arial, sans-serif;
  font-size: 12px;
}

/*add tooltip*/
div.tooltip {
  /*position: absolute;*/
  top: 100px;
  left: 100px;
  -moz-border-radius:5px;
  border-radius: 5px;
  border: 2px solid #FFA500;
  background: #fff;
  opacity: .9;
  color: black;
  padding: 10px;
  width: 400px;
  font: 12px sans-serif;
  font-size: 14px;
  z-index: 10;
}

.tooltip .title {
  font-size: 13px;
}

.tooltip .name {
  font-weight:bold;
  font-size: 15px;
}

#content, #visual {
  text-align: center;
}