@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "sweetalert.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|News+Gothic|Inconsolata|Droid+Sans|Roboto|Cabin|Open+Sans|Raleway|Poiret+One|Lato');
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

body {
  font-family: 'Open Sans';
}

#found {
  margin-bottom: 20px;
}

#st_search {
  margin-bottom: 20px;
}

li#login:active {
 outline: none !important;
}

.st_per_page {
  margin-bottom: 20px;
}

.center #my-signin2 {
  text-align: center;
  margin: auto;
  display: block;
}

nav {
  font-family: Cabin;
}

.navbar-default .navbar-brand a {
  color: #000;
  font-family: Cabin,sans-serif;
  font-size: 30px;
}

.navbar-default .navbar-brand .sub-credit {
  color: #666;
  font-family: "Muli",sans-serif;
  font-size: 14px;
}

.fa-lightbulb-o {
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
}

.fa-search {
  margin-bottom: 3px;
}

.preferred-login {
  background: #f9f9f9;
  width: 258px;
  border: 1px solid #d4d4d4;
  box-shadow: -1px 1px #f2f2f2;
  color: #888;
  padding: 7px;
  margin-bottom: 15px;
  cursor: pointer;
  height: 30px;
}