@import "bootstrap";
@import "font-awesome";

.navbar-default .navbar-brand a {
    color: #000;
    font-family: "Muli",sans-serif;
    font-size: 28px;
}

.navbar-default .navbar-brand .sub-credit a {
    color: #666;
    font-family: "Muli",sans-serif;
    font-size: 12px;
}

.fa-lightbulb-o {
  color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
}